<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kitbit Server</title>
</head>
<body>

<p>
[<a href="/kitbit/train">Train</a>]
[<a href="/kitbit/autotrain">Auto Train</a>]
[<a href="/kitbit/config">Config</a>]
</p>

{% if autotrain_enabled %}
<p>Autotrain Enabled: {{ autotrain_location }} until {{autotrain_until}}.  [<a href="/kitbit/autotrain/cancel">Cancel</a>]</p>
{% endif %}

<h1>Recent Observations</h1>
{% for c in cats %}
<h2>{{ c.name }}</h2>
<table border="1">
    <tr>
        <th>Detector</th>
        <th>-0 min</th>
        <th>-1 min</th>
        <th>-2 min</th>
        <th>-3 min</th>
        <th>-4 min</th>
    </tr>
{% for d in detectors.values() %}
    <tr>
        <td>{{ d.name }}</td>
        <td>{{ d.last_5_min_observation(c.name)[0].rssi or ''  }}</td>
        <td>{{ d.last_5_min_observation(c.name)[1].rssi or ''  }}</td>
        <td>{{ d.last_5_min_observation(c.name)[2].rssi or '' }}</td>
        <td>{{ d.last_5_min_observation(c.name)[3].rssi or '' }}</td>
        <td>{{ d.last_5_min_observation(c.name)[4].rssi or '' }}</td>
    </tr>
{% endfor %}
</table>
{% endfor %}

<h1>Cats</h1>
<ul>
{% for cat in cats %}
 <li>{{cat.name}} -- Last seen: {{ cat.last_seen_detector }} at {{ cat.last_seen_timestamp }}</li>
{% endfor %}
</ul>

<h1>Detectors</h1>
<table border="1">
    <tr>
        <th>Name</th>
        <th>Stale</th>
        <th>Last Observation</th>
        <th>Last Configuration</th>
        <th>Host</th>
        <th>UUID</th>
    </tr>
{% for did, d in detectors.items() %}
    <tr>
        <td>{{d.name}}</td>
        <td>{{'STALE' if d.is_stale else ''}}</td>
        <td>{{d.last_observation}}</td>
        <td>{{d.last_configuration}}</td>
        <td>{{d.host}}</td>
        <td>{{did}}</td>
    </tr>
{% endfor %}
</table>



<h1>Detector Errors</h1>
{% for d in detectors.values() %}
{% for err in d.errors %}
============================================================================
<p>{{d.name}}</p>
<pre>
    {{ err.exception }} at {{ err.timestamp }}
    {{ err.traceback }}
</pre>
{% endfor %}
{% endfor %}


<h1>Server Errors</h1>
{% for err in errors %}
============================================================================
<pre>
    {{ err.exception }} at {{ err.timestamp }}
    {{ err.traceback }}
</pre>
{% endfor %}
</body>
</html>