<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>URL</h1>
<p>Currently, detectors will provide results to: <b>{{config_url}}</b></p>
<p>Change to:</p>
<ul>
    <li><a href="/kitbit/config/url/tesla">Tesla</a></li>
    <li><a href="/kitbit/config/url/octopi">Octopi</a></li>
</ul>

<h2>Sampling Period</h2>
<p>Current value: <b>{{ config_sampling_period }} seconds </b></p>
<ul>
    <li><a href="/kitbit/config/period/5">5 seconds</a></li>
    <li><a href="/kitbit/config/period/30">30 seconds</a></li>
    <li><a href="/kitbit/config/period/60">60 seconds</a></li>
</ul>
</body>
</html>